<h2>Edit sale</h2>
<form [formGroup]="saleForm" (ngSubmit)="updateSale()">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label for="date">Sale Date</label>
            <p-calendar formControlName="dateOfSale" />
            <div *ngIf="saleForm.controls['dateOfSale'].invalid && saleForm.controls['dateOfSale'].touched"
                class="p-error">
                Date of Sale is required.
            </div>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="count">Number of Jars</label>
            <input id="count" type="number" pInputText formControlName="numberOfJars" />
            <div *ngIf="saleForm.controls['numberOfJars'].invalid && saleForm.controls['numberOfJars'].touched"
                class="p-error">
                Number of Jars is required.
            </div>
        </div>
        <div class="p-field p-col-12 col-md-6">
            <label for="notes">Notes</label>
            <textarea rows="5" cols="30" pInputTextarea formControlName="notes"></textarea>
        </div>
        <div class="p-field p-col-12">
            <button pButton type="submit" label="Submit" class="p-mt-3" [disabled]="saleForm.invalid"></button>
        </div>
    </div>
</form>