<h2>Harvests</h2>
<div>
    <p-button [routerLink]="'/harvests/add'">Add Harvest</p-button>
    <p-table [value]="harvests" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Collected Date</th>
                <th>View</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-harvest>
            <tr>
                <td>{{harvest.collectedDate | date: 'longDate'}}</td>
                <td><p-button (onClick)="viewHarvest(harvest.id)">View</p-button></td>
            </tr>
        </ng-template>
    </p-table>

</div>