<h2>Inspection date: {{inspection.inspectionDate | dateFormat}}</h2>
<p-confirmDialog />
<span>
    <Label>General Notes:</Label>
    <p>{{inspection.notes}}</p>
</span>

<h3>Hive Notes:</h3>


<div *ngFor="let inspect of inspectionNotes">
<p-card header="{{inspect.hive.name}}">
    <div style="display: flex; flex-wrap: wrap; gap: 5px;">
        <p-tag value="Queen" [severity]="inspect.queen? 'success' : 'warning' "/>
        <p-tag value="Eggs" [severity]="inspect.eggs? 'success' : 'danger'" />
        <p-tag value="Bias" [severity]="inspect.bias ? 'success' : 'warning'" />
        <p-tag value="No Eggs Or Brood" [severity]="inspect.noEggsOrBrood? 'danger':'success'" />
        <p-tag value="Swarm Cells" [severity]="inspect.swarmCells ? 'danger' :'success'"/>
        <p-tag value="Supercedure Cells" [severity]="inspect.supercedureCells? 'danger':'success'"/>
        </div>
        <div>
        <p>
            <strong>Notes: </strong>
            {{inspect.notes}}
            </p>
    </div>
</p-card>
</div>


<p-button (onClick)="confirmDelete($event)" label="delete" severity="danger"/>
