<form [formGroup]="hiveForm" (ngSubmit)="onSubmit()">
  <div class="fluid formgrid grid">
    <div class="field col-12 md:col-6">
      <label for="name">Hive Name</label>
      <input id="name" type="text" pInputText formControlName="name" />
      @if (hiveForm.controls['name'].invalid && hiveForm.controls['name'].touched) {
        <div class="p-error">
          Hive Name is required.
        </div>
      }
    </div>
    <div class="field col-12 md:col-6">
      <label for="origin">Hive Origin</label>
      <input id="origin" type="text" pInputText formControlName="origin" />
      @if (hiveForm.controls['origin'].invalid && hiveForm.controls['origin'].touched) {
        <div class="p-error">
          Hive Origin is required.
        </div>
      }
    </div>
    <div class="field col-12 md:col-6">
      <label for="queenYear">Year of Queen</label>
      <input id="queenYear" type="text" pInputText formControlName="queenYear" />
      @if (hiveForm.controls['queenYear'].invalid && hiveForm.controls['queenYear'].touched) {
        <div
          class="p-error">
          Queen Year is required.
        </div>
      }
    </div>
    <div class="field col-12 md:col-6">
      <label for="archived">Archived</label>
      <p-checkbox binary="true" [formControl]="hiveForm.controls['archived']"></p-checkbox>
    </div>
    <div class="field col-12">
      <button pButton type="submit" label="Submit" class="mt-2" [disabled]="hiveForm.invalid"></button>
    </div>
  </div>
</form>