<form [formGroup]="hiveForm" (ngSubmit)="onSubmit()">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
        <label for="name">Hive Name</label>
        <input id="name" type="text" pInputText formControlName="name" />
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label for="origin">Hive Origin</label>
        <input id="origin" type="text" pInputText formControlName="origin" />
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label for="queenYear">Year of Queen</label>
        <input id="queenYear" type="email" pInputText formControlName="queenYear" />
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label for="archived">Archived</label>
        <p-checkbox binary="true" [formControl]="hiveForm.controls['archived']"></p-checkbox>
    </div>
    <div class="p-field p-col-12">
        <button pButton type="submit" label="Submit" class="p-mt-2" ></button>
    </div>
</div>
 </form>